<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="meetingParticipant">
            <h2><span jhiTranslate="coviDeoApp.meetingParticipant.detail.title">Meeting Participant</span> {{meetingParticipant.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="coviDeoApp.meetingParticipant.user">User</span></dt>
                <dd>
                    {{meetingParticipant.userId}}
                </dd>
                <dt><span jhiTranslate="coviDeoApp.meetingParticipant.meeting">Meeting</span></dt>
                <dd>
                    <div *ngIf="meetingParticipant.meetingId">
                        <a [routerLink]="['/meeting', meetingParticipant.meetingId, 'view']">{{meetingParticipant.meetingId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/meeting-participant', meetingParticipant.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
