<!-- VIEW FULLSCREEEEN BEST FOR 1440px-->
<!-- IMAGE OBTAINED FROM FREEPIK,VECTEEZY-->


    <div class="inner">
        <div class="prod-left">
            <h1 class="prod-head">Welcome to <span style="color:#0f457f">COVIDeo</span></h1>
            <h4 class="prod-head-sub">Free Video Conferencing</h4>
        </div>
        <div class="prod-right">
            <img src="https://raw.githubusercontent.com/kenocvr/COVIDeo/master/src/main/webapp/app/assets/images/3629604.jpg?raw=true" class="prod-human-img" alt="prod"/>
        </div>
    </div>

<!--

<main class="intro-section">
    <div class="container">
        <div class="grid">
                            <div class="column-xs-12 column-md-2 hide-mobile">
                                <div class="intro">
                                    <a href="#">
                                        <h1 class="title"><span class="underline">Welcome to COVIDeo!</span></h1>
                                    </a>
                                </div>
                            </div>

                                    <img [class.hipster]="netImage" >

                </div>

        </div>
</main>
-->
