

<main class="intro-section">
    <div class="container">
        <div class="grid">
                            <div class="column-xs-12 column-md-2 hide-mobile">
                                <div class="intro">
                                    <a href="#">
                                        <h1 class="title"><span class="underline">Welcome to COVIDeo!</span></h1>
                                    </a>
                                </div>
                            </div>

                                    <img [class.hipster]="netImage" >

                </div>

        </div>
</main>
